$header-direction:column;

.header{
    display:flex;
    flex-direction: $header-direction;
    height: 30vh;
    

    &__title{
        border-bottom: 1px solid black;
        box-shadow: 2px 3px 3px 0px black;
        color:rgb(238, 255, 0);
        
        background-image: url('/Images/background-board-chillies-1435895.jpg');
        background-size: cover;
        margin:0;
        padding-top:40%;
        position:relative;
        .container{
            position:absolute;
            letter-spacing:3px;
            bottom:10%;
            left:36%;

        }
        
    }

    &__search{
        position:relative;
        .links{
            position :absolute; 
            top:0;
            left:2em;
            display:flex;
            .upload{
                margin-left:2em;
            }
        }
    }

}

.search{
    &-form{
        display:flex;
        flex-direction: $header-direction;
        height:13vh;
        justify-content: space-between;
        background-color: lightgrey;
    
        &__bar{

        }
    }
    &-option{
        width: 40%;
        margin:auto;
    }
}



